<div class="titleHeader">
  <div class="container">
    <h1>Ward</h1>
    <h5>Mandaremus de varias offendit.</h5>
  </div>
</div>

<div class="container">

  <br>

  <p id="notice"><%= notice %></p>

  <ul class="list_box">
    <li><span>Alas cadastradas no sistema</span></li>

    <% if @wards.count == 0 %>
      <li><span>Nenhuma ala encontrada</span></li>
    <% end %>

    <% @wards.each do |ward| %>
      <li>
        <span><%= ward.name %></span>
        <%= link_to raw('<i class="fa fa-trash" aria-hidden="true"></i>Destroy'), ward, method: :delete, data: { confirm: 'Are you sure?' }, class: 'float_right icon_link' %>
        <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>Edit'), edit_ward_path(ward), class: 'float_right icon_link' %>
        <%= link_to raw('<i class="fa fa-info" aria-hidden="true"></i>Show'), ward, class: 'float_right icon_link' %>
      </li>
    <% end %>
    <li><%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i>New Ward'), new_ward_path, class: 'icon_link' %></li>
  </ul>

</div>


